.log-in-button{
    background-color: red;
    color: #fff;
    font-size: 14px;
    padding: 9px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.log-in-button:hover{
    background-color: black;
}

.navbar-toggler{
    border:none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline:none;

}
.nav-link{
    color:black;
    font-weight: 500;
}
.nav-link:hover, .nav-link.active{
    color: red;
}

