/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

.content{
    display:flex;
    height: 500px;
    width:600px;
    border:1px solid black;
    margin: auto;
    margin-top: 150px;
}
.content .wrapper {
    max-width: 350px;
    max-height: 500px;
    margin: 2px auto;
    padding: 40px 30px 30px 30px;
}
.side-image{
    display:flex;
}
.side-image img{
    max-width:300px;
    height:500px;
    background-size: cover;
    
}
.wrapper .form-group a {
    padding-top: 10px;
    font-size: .8rem;
    color:black;
}
.wrapper .form-group a :hover{
color: #03A9F4;
}
.wrapper p {
    font-size: 1rem;
}

.wrapper p a {
    font-size: 1rem;
}

.logo {
    width: 100px;
    margin: auto;
}

.wrapper .form-group a:hover {
    color: #03A9F4;
}

.logo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .5px;
    padding-left: 10px;
    color: black;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: black;
    padding: 10px 15px 10px 10px;
    border-bottom: 2px solid#010b13;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 15px;
    border-bottom: 5px;
    border-color: white;
}

.wrapper .form-field .fas {
    color: #010b13;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color:  #03A9F4;
    color: #fff;
    border-radius: 0px;
    border: 2px solid white;
    letter-spacing: 1px;
    font-size: 1.2rem;

}

.wrapper .btn:hover {
    background-color: red;

    .wrapper a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #03A9F4;
    }

    .wrapper a:hover {
        color: black;
    }

    @media(max-width: 380px) {
        .wrapper {
            margin: 30px 20px;
            padding: 40px 15px 15px 15px;
        }
    }
}
